.base {
}

.headbar {
  height: 4rem;
  border-bottom: #dddddd 1px solid;
  max-width: 1080px;
  margin: auto auto 2.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  font-family: "Courier New", Courier, monospace;
}

.headbar_home {
  display: flex;
  flex: 1.5;
  justify-self: flex-start;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: wheat 2px solid;
  box-shadow: 3px 2px rgba(240, 221, 184, 0.7);
}

.headbar_gap {
  display: flex;
  flex: 5;
}

.headbar_page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: wheat 2px solid;
}

.main {
  width: 100%;
  height: 80vh;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.left {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 1rem;
  border: green solid 2px;
  margin: 1rem;
}

.search {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: green solid 2px;
  background-color: rgb(146, 181, 146, 0.35);
  margin: 0.5rem;
}
.search:hover {
  background-color:rgb(146, 181, 146, 0.65); 
}

/*.college {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: green solid 2px;
  background-color: rgb(146, 181, 146, 0.35);
  margin: 0.5rem;
}
.college:hover {
  background-color:rgb(146, 181, 146, 0.65); 
}

.department {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: green solid 2px;
  background-color: rgb(146, 181, 146, 0.35);
  margin: 0.5rem;
}
.department:hover {
  background-color:rgb(146, 181, 146, 0.65); 
}

.unit {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  border: green solid 2px;
  background-color: rgb(146, 181, 146, 0.35);
  margin: 0.5rem;
}
.unit:hover {
  background-color:rgb(146, 181, 146, 0.65); 
}*/


.right {
  flex: 2;
  padding: 1rem;
  border-radius: 1rem;
  border: blue solid 2px;
  margin: 1rem;
}

.schedule {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr repeat(9, 2fr);
  grid-template-columns: 1fr repeat(5, 2fr);
  grid-auto-flow: column;
  background-color: #cccccc;
  gap: 0.1rem;
  /*grid-template-areas: 
    " . M  T  W  R  F"
    "C1 M1 T1 W1 R1 F1"
    "C2 M2 T2 W2 R2 F2"
    "C3 M3 T3 W3 R3 F3"
    "C4 M4 T4 W4 R4 F4"
    "C5 M5 T5 W5 R5 F5"
    "C6 M6 T6 W6 R6 F6"
    "C7 M7 T7 W7 R7 F7"
    "C8 M8 T8 W8 R8 F8"
    "C9 M9 T9 W9 R9 F9"*/
}

.class {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center
}
.class:hover {
  background-color: oldlace;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
